{% extends 'base.html' %}{% block content %}
{% load static %}
<section class="content">

    <div class="logo"> 
        <img src="{% static 'img\social-media-twitter-logo-blue-isolated-free-vector.jpeg' %}">
    <div class="Home"><h1>Home</h1></div>
    </div>

<form action="/" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="username">
        <input type="text" name="name" placeholder="Name" required>
    </div>
    <br><br>
    <div class="textarea">
        <textarea type="text" name="body" placeholder="What's on your mind?" required></textarea>
        <br></div>
    <div class='upload'>
        <input id="upload-file" type="file" value="Choose File" name="image">
    

    <div class="submit">
        <input type="submit" value="Send">
    
    </div>
</div>
 
</form>

{% for c in chats %}

<div class="menu-icon">
    <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        <div class="menu">
           <a href="/delete/{{c.id}}">Delete</a>
             <br><br>
            <a href="/edit/{{ c.id }}">Edit</a>
        </div>
    </div>

    <div class="logo"> 
        <img src="{% static 'img/240_F_97000908_wwH2goIihwrMoeV9QF3BW6HtpsVFaNVM.jpeg' %}">
   

    <div class="namedate">

        <div class="name">{{c.name}}</div>
        
        <div class="date">{{c.DateTime}}</div>

        <div class="body">
            <p> {{c.body}}</p>
        </div>

        <br>
        <!-- <a href="/delete/{{ c.id }} ">Delete</a> -->
        {% if c.image.url %}
        <img class="post-image" src="{{ c.image.url }}" style="width :370px; height:370px;">
        {% endif %}
        <div id='like'>
        <form  id="like-form" action="{% url 'like' c.pk %}" method="POST" id="likes-form">
            {% csrf_token %}
            <div class="row">
                <button class="like-button" type="submit", name="post_id", value="{{c.id}}"> &#10084;</button> {{c.likes}}
            </div>
        </form>
    </div>
        
    </div>
    </div>

    {% endfor %}
</section>

</section>
<script
src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous">
</script>
<script src="{% static 'js/chat.js' %}"></script>
</section>

    {% endblock %}